.sidebar {
    width: 220px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-right: 1px solid #e5e7eb;
}

/* Logo */

.sidebar-logo {
    padding: 25px 20px;
    border-bottom: 1px solid #e5e7eb;
}

.sidebar-logo h2 {
    margin: 0;
    color: #2563eb;
    font-size: 22px;
}


/* Menu */

.sidebar-menu {
    display: flex;
    flex-direction: column;

    padding: 20px 10px;
    gap: 5px;
}

.sidebar-menu a {
    padding: 12px 15px;

    color: #374151;
    text-decoration: none;

    border-radius: 5px;

    font-size: 15px;
}

.sidebar-menu a:hover {
    background-color: #eff6ff;
    color: #2563eb;
}


/* Logout */

.sidebar-bottom {
    margin-top: auto;
    padding: 15px 10px;

    border-top: 1px solid #e5e7eb;
}

#logout {
    width: 100%;

    padding: 12px 15px;

    border: none;
    border-radius: 5px;

    background-color: white;
    color: #374151;

    text-align: left;
    font-size: 15px;

    cursor: pointer;
}

#logout:hover {
    background-color: #eff6ff;
    color: #2563eb;
}